<p>home-page works! esto es lo que hay en el componente homepage del modulo home</p>
<!--Las etiquetas script no van aqui, el codigo se escribe en el .ts-->

<ul>
    <li *ngFor="let item of items">{{ item }}</li> <!--Bucle foreach que repite el elemento por cada item, esta usando una variable exportada por el componente-->
    {{ variableTardia.charAt(2) }} <!--Se puede usar codigo javascript aqui, que se ejecuta en el servidor-->
</ul>
<div *ngIf="variableTardia === 'aaa'">si</div> <!--Renderizando una etiqueta si una condicion es cierta-->
<div [ngClass]="['unaclase', 'otraclase', variableTardia]">a</div> <!--Con ngClass se puede especificar el array de clases-->
<div [ngClass]="textos">a</div> <!--Usando un array directamente-->
{{ canciones.data[0].name }} <!--Usando un objeto que viene de un json y ademas cumple un model-->

<app-boton [texto]="'titulo'"></app-boton> <!--Selector html inventado que renderiza un componente ya creado, en este caso usa una propiedad-->
<!--En este caso estaria renderizando aqui el componente de menu aparte del componente base, ya que asi se especifico en el home-routing.module-->
<router-outlet name="menu-outlet"></router-outlet> <!--Componente que se encarga de cargar el componente que se le pase por la ruta (necesita importarse tambien), para que cargue en todas las paginas habria que ponerlo en el html inicial-->

<ng-template #etiquetas let-variable="variable"> <!--Creando una plantilla, puede tener variables-->
    <h4>ejemplo {{ variable }}</h4>
</ng-template>
<ng-container *ngTemplateOutlet="etiquetas; context: {variable: 'aa'}"></ng-container> <!--Copiando el contenido de la plantilla-->
<ng-container *ngTemplateOutlet="etiquetas; context: {variable: 'bb'}"></ng-container>
